@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
html {
  --m-color: #1D4044;
  --p-color: #2C7A7B; }

.com-tab-box .tab-content {
  display: none; }

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  min-height: 100vh; }

.container {
  display: flex;
  flex: 1; }

.content_box {
  flex: 1;
  padding: 3rem; }

.custom__scroll_bar::-webkit-scrollbar {
  width: 5px; }

.custom__scroll_bar::-webkit-scrollbar-thumb {
  background-color: #4fd1c5;
  border-radius: 5px; }

.custom__scroll_bar::-webkit-scrollbar-track {
  background-color: #b2f5ea; }

footer.footer {
  width: 100%;
  border-top: 1px solid #ddd; }

.ani__fade_in {
  opacity: 0;
  animation: ani_fade_in 0.6s forwards; }

@keyframes ani_fade_in {
  to {
    opacity: 1; } }

.link {
  cursor: pointer; }

.link:hover {
  font-weight: 600; }

.xs {
  width: 12.5%; }

.sm {
  width: 25%; }

.md {
  width: 50%; }

.lg {
  width: 100%; }

.table_basic {
  width: 100%;
  border-spacing: 0;
  border-top: 2px solid #383a4a;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #d5d5d5;
  border-collapse: collapse;
  /* th가 두줄이상으로 합쳐질때 border-bottom 값 */
  /* th가 두줄이상으로 합쳐질때 border-right 값 */
  /* th가 한줄일때 class추가 */ }

.table_basic th,
.table_basic td {
  border: 0; }

.table_basic tr {
  text-align: center; }

.table_basic thead th {
  padding: 10px 0;
  color: #333;
  line-height: 18px;
  background: #f8f8f8;
  border-bottom: 1px solid #a5a5a5;
  border-left: 1px solid #a5a5a5; }

.table_basic thead th:first-child {
  border-left: 0; }

.table_basic thead tr th.fnone {
  border-left: 0 !important; }

.table_basic thead th[colspan] {
  border-bottom: 1px solid #a5a5a5; }

.table_basic thead th[rowspan] {
  border-right: 1px solid #a5a5a5; }

.table_basic thead th[rowspan]:last-child {
  border-right: 0; }

.table_basic thead th.none {
  border-bottom: 1px solid #a5a5a5; }

.table_basic tbody th {
  padding: 10px;
  font-weight: bold;
  background: #fafafa;
  border-left: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5; }

.table_basic tbody th:first-child {
  border-left: 0; }

.table_basic tbody th[rowspan] {
  border-right: 1px solid #d5d5d5; }

.table_basic tbody tr:first-child th,
.table_basic tbody tr:first-child td {
  border-top: 1px solid #d5d5d5; }

.table_basic tbody td {
  padding: 10px 1rem;
  background: #fff;
  border-left: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5; }

.table_basic tbody td:first-child {
  border-left: 0; }

.table_basic tbody td[rowspan] {
  border-right: 1px solid #d5d5d5; }

.table_basic tbody td[rowspan]:last-child {
  border-right: 0; }

.table_basic tbody td.left {
  text-align: left; }

.table_basic tbody td + th {
  border-left: 1px solid #d5d5d5; }

.table_basic tfoot th {
  padding: 10px 5px;
  background: #fafafa;
  border-right: 1px solid #d5d5d5; }

.table_basic tfoot td {
  padding: 10px 5px;
  border-left: 1px solid #d5d5d5; }

.table_basic tfoot td[colspan] {
  border-left: 0; }

.sun-editor-editable table.table_basic td,
.sun-editor-editable table.table_basic th {
  padding: 10px 1rem; }
